/*------------fonts---------------------*/
@font-face {
  font-family: "myriadpro-regular";
  src: url("../font/myriadpro/MYRIADPRO-REGULAR.OTF");  }
@font-face {
  font-family: "myriadpro-bold";
  src: url("../font/myriadpro/MYRIADPRO-BOLD.OTF");  }
/*-----------common----------------*/
body, #logo-container {
  font-family: "myriadpro-regular";
  color: #4c2c06;
  background-color: white}
@media only screen and (min-width: 993px) {
  .space {
    min-height: 55px;
  }

}
/*------------text-------------------*/
h4, .menu, .intro p, .info p, h5, .banner-dk, .btn-dk, #logo-container {
  font-weight: bold;  }
h4, .intro p, .info p {
  text-align: center;  }
.intro p {
  color: white;  }
.footer p {
  margin: 0;  }
@media only screen and (max-width: 600px) {
  .loiich-info p {font-size: 18px;}
  .intro p, .nav-wrapper a {font-size: 20px;}
  .info p {font-size: 24px;}
  h4 {font-size: 28px;}
  h5 {font-size: 14.5px;}
  .footer p, .footer a {font-size: 12.5px;}
}
@media only screen and (min-width: 601px) {
  .loiich-info p {font-size: 20px;}
  .intro p {font-size: 22px;}
  .info p {font-size: 26px;}
  h4 {font-size: 30px;}
  h5 {font-size: 16px;}
  .footer p, .footer a {font-size: 14.5px;}
}
/*----------------header--------------------*/
.prc-header{
  height: 1370px;
  margin-bottom: 10px;
}
.header-space {
  min-height: 610px;  }
.pr-header {
  width: 100%;
}
/*----------------menu--------------------*/
@media only screen and (min-width: 993px) {
  .menu {
    z-index: 999;
    height: 55px;
  }
  nav {
    background-color: #4ab9d6;
    border: none;
    box-shadow: none;
  }
  .menu a:first-child {
    margin-left: 0;  }
  .menu a {
    margin-left: 60px;
    border-radius: 5px;
    font-size: 22px}
  .menu.f-nav{
    z-index: 99999;
    position: fixed;
    top: 0;  }
}
.button-collapse {
  color: #64B5F6;  }
.menu-btn {
  background-color: #06797e;  }
/*---------------banner-------------------*/
.pr-banner {
  width: 100%;
  height: 100%;  }
.banner-dk {
  color: #4c2c06;
  font-size: 20px;  }
@media only screen and (max-width: 992px) {
  .intro {
    background-color: #64B5F6;  }
  .prc-banner{
    height: 450px;
    margin-bottom: 10px;  }
}
@media only screen and (min-width: 993px) {
  .prc-banner {
    height: 530px;
  }
  #banner-my, #banner-anh, #banner-sing {
    height: 530px;
    background-color: #ffd802;
    padding: 20px;
  }
}
/*-----------------khu du hoc he ----------------------*/
.khudhh-intro, .loiich-intro, .hinhanh-intro {
  border-top: solid 2px;  }
.khudhh-img img, .hinhanh-img img {
  width: 100%;  }
/*----------loi ich -----------------*/
.loiich {
  background-color: yellow;
  font-weight: bold;  }
.loiich-intro {
  margin-top: 20px;  }
.loiich-btn {
  padding-bottom: 15px;  }
.col-dk {
  text-align: center;  }
.btn-dk, .btn-dk:hover, .btn-dk:active {
  background-color: #b35f00;
  font-size: 20px; }
/*----------footer-------------*/
#hinhanh-btn {
  width: 190px;
  height: 55px;
  font-size: 26px;
  line-height: 55px;
}
/*----------footer-------------*/
@media only screen and (max-width: 992px) {
 .footer {
   background-color: #1a4959;  }
}
@media only screen and (min-width: 993px) {
  .footer {
    height: 200px;
    background-image: url("../photos/nen-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;  }
}
.footer, .footer a {
  text-transform: uppercase;
  color: white;
padding-bottom: 0;
margin-bottom: 0}
/*-----------modal-------------*/
.modal-header {
  padding: 9px 20px 0 20px;  }
.form-btn {
  margin: 0;  }
@media only screen and (min-width: 601px) {
  .form-btn button {
    margin: 15px 10px 0 0;
  }
}
a.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  display: block;
  color:#4c2c06 }
/*------------thank you ----------------*/
.tk-main {
  color: #305196;
  margin-bottom: 0 ;
}
.tk-space {
  min-height: 20px;
}
.tk-footer {
  text-align: center;}
@media only screen and (max-width: 600px) {
  .tk-header .bigimg {
    display: none;    }
  .tk-footer .s12 img {
    margin: 0 auto 10px auto;    }
}
@media only screen and (min-width: 601px) {
  .tk-header .smallimg {
    display: none;    }
}